@import "tailwindcss";
@source inline("animate-{spin,ping,pulse,bounce,flex,wiggle,card-flip}");

:root {
  --mode-1: #ffffff;
  --mode-2: #f7f4e6;
  --contrast-1: #000000;
  --contrast-2: #393442;
  --contrast-3: color-mix(in oklab, var(--contrast-2) 70%, var(--mode-2) 30%);
  --contrast-4: color-mix(in oklab, var(--contrast-2) 40%, var(--mode-2) 60%);
  --highlight: oklch(90.5% 0.182 98.111); /* yellow-300 */
  --hyperlink: var(--color-blue-400); 
  --hyperlink-hover: var(--color-blue-600); 
  --hyperlink-visited:  var(--color-purple-500);
  --sidenav-hover: var(--color-sky-100);
  --err: #ff0000
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --mode-1: #000000;
    --mode-2: #393442;
    --contrast-1: #ffffff;
    --contrast-2: #f7f4e6;
    --contrast-3: color-mix(in oklab, var(--contrast-2) 70%, var(--mode-2) 30%);
    --contrast-4: color-mix(in oklab, var(--contrast-2) 40%, var(--mode-2) 60%);
    --highlight: var(--color-purple-700);
    --hyperlink: var(--color-blue-600);
    --hyperlink-hover: var(--color-blue-400); 
    --hyperlink-visited: var(--color-purple-500); 
    --sidenav-hover: var(--color-sky-900); 
    --err: #00ff00
  }
} */

@theme inline {
  --color-mode-1: var(--mode-1);
  --color-mode-2: var(--mode-2);
  --color-contrast-1: var(--contrast-1);
  --color-contrast-2: var(--contrast-2);
  --color-contrast-3: var(--contrast-3);
  --color-contrast-4: var(--contrast-4);
  --color-highlight: var(--highlight);
  --color-hyperlink: var(--hyperlink); 
  --color-hyperlink-hover: var(--hyperlink-hover);
  --color-hyperlink-visited: var(--hyperlink-visited);
  --color-sidenav-hover: var(--sidenav-hover);
  --color-err: var(--err);

  --ease-lin: linear;
  --ease-linrev: linear(1, 0);

  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
  --animate-flex: flexx 1s ease-in-out 1;
  --animate-wiggle: wiggle 1s ease-in-out 1;
  --animate-card-flip: card-flip 1s ease-in-out 1;

  /* Must add to source(inline) at top/make --animate property for it to always work */
  --anim-name-spin: spin;
  --anim-name-ping: ping;
  --anim-name-pulse: pulse;
  --anim-name-bounce: bounce;
  --anim-name-flex: flexx;
  --anim-name-wiggle: wiggle;
  --anim-name-card-flip: card-flip;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes flexx {
    0% {
      flex: 0;
    }
    100% {
      flex: 1;
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes card-flip {
    
    0% {
      transform: rotate3d(1, 0, 0, -40deg);
    }
    25%, 75% {
      transform: none;
    }
    100% {
      transform: rotate3d(1, 0, 0, 40deg);
    }
  }
}

@utility atime-* {
  animation-timing-function: --value(--ease-*);
}

@utility aname-* {
  animation-name: --value(--anim-name-*);
}

@utility aview-* {
  animation-timeline: view();
  view-timeline-inset: --value(percentage, [length], --default(auto)) --modifier(percentage, [length], --default(auto));
}

@utility ascroll-* {
  animation-timeline: scroll(--value("nearest", "root", "self") --modifier("block", "inline", "x", "y", --default(y)));
}

/* Put on the parent of an aview-*
@utility aview-scope {
  timeline-scope: --main-view-timeline;
} */

@utility indent-* {
  text-indent: calc(--value(number) * 4ch);
  text-indent: --value([length]);
}

@utility hang-* {
  text-indent: calc(--value(number) * -4ch);
  padding-left: calc(--value(number) * 4ch);
  
  text-indent: calc(--value([length]) * -1);
  padding-right: --value([length])
}

body {
  background: var(--mode-2);
  color: var(--contrast-2);
  font-family: Arial, Helvetica, sans-serif;
  timeline-scope: all;
}

p, div.math-block {
  font-size: var(--text-xl);
  color: var(--contrast-3);
  line-height: 1.4em;
}

ul, ol {
  font-size: var(--text-xl);
  color: var(--contrast-3);
}

* {
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}
