@import "tailwindcss";

:root {
  --background: #f7f4e6;
  --background-2: #ffffff;
  --foreground: #393442;
  --foreground-2: #000000;
  --highlight: oklch(90.5% 0.182 98.111); /* yellow-300 */
  --hyperlink: oklch(54.6% 0.245 262.881); /*blue-600 */
  --hyperlink-hover: oklch(42.4% 0.199 265.638); /* blue-800 */
  --hyperlink-visited: oklch(49.6% 0.265 301.924); /* purple-700 */
  --sidenav-hover: oklch(95.1% 0.026 236.824); /* bg-sky-100 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #393442;
    --background-2: #000000;
    --foreground: #f7f4e6;
    --foreground-2: #ffffff;
    --highlight: oklch(49.6% 0.265 301.924); /* purple-700 */
    --hyperlink: oklch(70.7% 0.165 254.624); /* blue-400 */
    --hyperlink-hover: oklch(88.2% 0.059 254.128); /* blue-200 */
    --hyperlink-visited: oklch(82.7% 0.119 306.383); /* purple-300 */
    --sidenav-hover: oklch(39.1% 0.09 240.876); /* bg-sky-100 */
  }
}

/* text-blue-600 hover:text-blue-800 visited:text-purple-700 dark:visited:text-purple-300 */

@theme inline {
  --color-*: initial;
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --color-foreground-2: var(--foreground-2);
  --color-highlight: var(--highlight);
  --color-hyperlink: var(--hyperlink); 
  --color-hyperlink-hover: var(--hyperlink-hover);
  --color-hyperlink-visited: var(--hyperlink-visited);
  --color-sidenav-hover: var(--sidenav-hover);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
